label {
    display: block;
    margin-top: 10px;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 50px auto 25px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.card-container.card {
    width: 90%;
    max-width: 380px;
    padding: 25px;
    margin: 25px auto;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 100%;
}

.main-content {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .card-container.card {
        max-width: 450px;
        padding: 40px 40px;
    }

    .page-container {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        flex-shrink: 0;
    }

    .main-content {
        flex-grow: 1;
        padding: 20px;
    }
}