/* Custom scrollbar for dropdowns */
.dropdown-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.dropdown-scrollbar::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.5);
  border-radius: 8px;
}

.dropdown-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 8px;
}

.dropdown-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #60a5fa;
}